/* Form Styles */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    background-color: #E9DAC1;
}

form {
    display: inline-block;
    background-color: #789395;
    margin-top: 1%;
    border-radius: 10px;
    width: 40%;
}

input {
    margin: 1rem;
    height: 3vh;
    background-color: #E5E3C9;
    border-radius: 8px;
    width: 90%;
    padding: 0.5em;
    border: none;
    -o-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
    padding: 0.5em;
    margin: 1rem;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

textarea {
    width: 31.2vw;
    height: 20vh;
    background-color: #E5E3C9;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 8px;
    border: none;
    -o-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
}

.work-label {
    margin-left: 1rem;
    color: #E5E3C9;
}

.section-header {
    color: #E5E3C9;
    font-size: 2vw;
}

.container {
    text-align: left;
    padding: 5%;
}

.submit-btn {
    width: 5vw;
    height: 5vh;
    text-align: center;
    margin-bottom: 5%;
}

.submit-btn:hover{
    cursor: pointer;
}

/* Resume Layout styles */
.body {
    margin: 0;
    padding: 0;
}

.resume-container {
    border: 2px solid #000;
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    padding: 1rem;
    background-color: #F7ECDE;
    color: #000;
}

.form-name {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 0;
}

.general-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.phone-email {
    display: flex;
    gap: 2rem;
}

.education-container {
    margin-top: 6%;
    justify-content:left;
}

.school-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.major {
    margin-top: 0;
    text-align: left;
}

.coursework-div {
    display: flex;
    align-items: center;
}

.relevant-coursework {
    text-align: center;
    margin-top: 2rem;
}

.coursework {
    text-decoration: none;
}

.coursework li {
    float: left;
    padding: 5px;
    margin: 10px;
}

.company-info {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    align-items: center;
}

.company-name {
    font-size: 1.5rem;
}

.company-position {
    font-size: 1.2rem;
}

.work-container {
    justify-content: left;
    margin-top: 10rem;
}

.work-date {
    display: flex;
    align-items: center;
}

.tasks-container {
    display: flex;
    align-items: center;
}

.tasks {
    text-align: left;
    margin-left: 5px;
}


.edit-btn {
    width: 7vw;
    height: 5vh;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #2E8B57;
    border-radius: 15px;
    border: none;
    transition: 0.2s ease-in-out;
}

.edit-btn:hover {
    cursor: pointer;
    background-color: #D8E9A8;
}
